body{
	background: #D8D9D9FF;
	font-family: "museo-slab",'Montserrat', sans-serif;
	font-weight: 100;
}

h1 {
	font-family: "museo-slab",'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 20px;
}

h3 {
	font-family: "museo-slab",'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 20px;
}

.page-title {
	background: #fff;
	float: left;

	text-align: center;
	padding:15px 0 0 0;
	border: .5px solid #A4CEE4FF;

}

.nav-search {
	background: #eee;
	float: right;

	text-align: center;
	padding:15px 0 0 0;
	border: .5px solid #A4CEE4FF;

}

#trail-card {
	margin-top: 20px;
}

.trail-info {
	background: #fff;
	padding:15px 0 0 0;
	text-align: center;
	border: .5px solid #A4CEE4FF;
}

.search-results {
	width: 100%;
	background: #fff;
	text-align: center;
	border: .5px solid #A4CEE4FF;
	margin-top: 10px;
}

#resultList {
}

.imgDiv {
	padding: 5px;
    width:33.3%;
}

.imgDiv img {
	width: 100%;
    height: 250px;
	object-fit: cover;
}

.location-results {
	background: #fff;

	text-align: center;
	padding:15px 0 0 0;
	border: .5px solid #A4CEE4FF;
}

.trail-name {
	margin-left:15px;
	text-align: center;
	border: .5px solid #A4CEE4FF;

}

.trail-summary {
	margin-left:15px;
	text-align: center;
	border: .5px solid #A4CEE4FF;

}

.trail-length {
	margin-left:15px;
	text-align: center;
	border: .5px solid #A4CEE4FF;

}

.trail-difficulty {
	margin-left:15px;
	text-align: center;
	border: .5px solid #A4CEE4FF;

}

.trail-image {
	background: #fff;

	text-align: center;
	padding:15px 0 0 0;
	border: .5px solid #A4CEE4FF;

}

#legend {
	margin: 20px;
}